body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    background-color: red;
}


#linha1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;
    margin: 25px;
    margin-top: 10px;
}

#linha2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;
    margin: 25px;
}

#linha3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    margin: 25px;
}

#linha4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    margin: 25px;
}

.blue-block {
    display: grid;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;
}

.yellow-block {
    display: grid;
    background-color: yellow;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.green-block {
    display: grid;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.black-block {
    display: grid;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.black-block2 {
    display: grid;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.white-block {
    display: grid;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.white-block11 {
    display: grid;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 420px) and (max-width: 720px){
    
    #linha1 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    
    #linha2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

    }

    #linha3 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        height: 250px;
    }
    
    #linha4 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    
    .blue-block {
        display: grid;
        background-color: blue;
        color: white;
        justify-items: center;
        width: 100%;
    }
    
    .yellow-block {
        display: grid;
        background-color: yellow;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .green-block {
        display: grid;
        grid-row: 0;
        grid-column: 1 / 3;
        margin-top: 10px;
        background-color: green;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .black-block {
        display: grid;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    
    .black-block2 {
        display: grid;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    
    .white-block {
        display: grid;
        width: 100%;
        border: 1px solid black;
        background-color: white;
        justify-content: center;
        align-items: center;
    }

    .white-block11 {
        display: grid;
        width: 100%;
        grid-column: 1 / 3;
        border: 1px solid black;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 420px) {

    #linha1 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    #linha2 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;

    }

    #linha3 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 400px;
    }
    
    #linha4 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .blue-block {
        display: grid;  
        background-color: blue;
        color: white;
        justify-items: center;
        width: 100%;
    }
    
    .yellow-block {
        display: grid;
        background-color: yellow;
        grid-row: 2;
        margin-top: 5px;
        justify-content: center;
        align-items: center;
        width: 100%;       
    }
    
    .green-block {
        display: grid;
        margin-top: 5px;
        background-color: green;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .black-block {
        display: grid;
        width: 100%;
        grid-row: 0;
        margin: 1px;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
    }
    
    
    .black-block2 {
        display: grid;
        width: 100%;
        grid-row: 1;
        margin: 1px;
        margin-top: 5px;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
    }
    
    .white-block {
        display: grid;
        width: 100%;
        margin-top: 5px;
        border: 1px solid black;
        background-color: white;
        justify-content: center;
        align-items: center;
    }

    .white-block11 {
        display: grid;
        width: 100%;
        border: 1px solid black;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

}